Example
images
.github
badges
docs
CODE_OF_CONDUCT.md
.claude
CLAUDE.md
.cursorrules
.cursor
.aider*
.copilot
android/bin
android/build
android/.gradle
android/.settings
android/.classpath
android/.project
android/libs
ios/Frameworks
*.iml
.eslintrc
yarn-error.log